<!-- <h1>Welcome</h1> -->




<div id="menu">
	<div>
		<a href="/"><img id="logo" src="http://i.imgur.com/xpjPS9l.png" title="skraper logo" /></a>
	</div>

	<h2>Skylines</h2>

	<div  id="city-options">	
		<div class="city-display" id="newyorkcity"><p>NYC</p></div>
		<div class="city-display" id="chicago"><p>Chicago</p></div>
		<div class="city-display" id="seattle"><p>Seattle</p></div>
		<div class="city-display" id="sanfrancisco"><p>San Francisco</p></div>	
	</div>

	<h2>Monsters!</h2>

	<div id="monster-options">
		<div class="monster-display" id="godzilla">
			<p>Godzilla</p>
		</div>
		<div class="monster-display" id="staypuft">
			<p>Stay Puft</p>
		</div>	

	</div>

</div>

<div id='building-data'></div>
