<h1>Welcome</h1>


<div class="city-display" id="newyorkcity"><p>New York</p></div>

<div class="city-display" id="chicago"><p>Chicago</p></div>

<div class="city-display" id="seattle"><p>Seattle</p></div>

<div class="clear" id='building-data'></div>
