/*font-family: 'Squada One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Playball', cursive;*/
/*font-family: 'Offside', cursive;*/
/*font-family: 'Martel Sans', sans-serif;*/

/*Colors*/
/*$background: #5c5a5a;
$menubackground: #8c897e;*/

$background: #8c897e;
$menubackground: #5c5a5a;
$welcomebackground: #222823;


$mainfont: #e6e6e6;
$focus: #FFFFFF;

$seattle: #94d31b;
$newyork: #200505;
$chicago: #FFE9D2;
$sf: #A0B5D9;
$la: #9C273B;
$philly: #004c54;


/*fonts*/
$primary: 'Martel Sans';

$seattlefont: 'Audiowide';  
$newyorkfont: 'Squada One'; 
$chicagofont: 'Playball';
$sffont: 'Offside';

$monstersfont: 'courier';

.clear {
	clear: both;
	float: none;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
	background: $background;
	color: $mainfont;
}

#welcome {
	/*background-image: url('flatiron-6color-2000x1250.jpg');*/
    background-size: cover;
    /*background-position: center;*/
    /*position: relative;*/
	/*background-repeat: no-repeat;*/
	height: 100vh;
	width: 100%;
	margin-top: none;

	background-color: $welcomebackground;
}


#app-container {
	height: 100vh;
	/*width: 100%;*/

	margin: 0 auto;
}

#welcome-logo {
	width: 300px;
	margin: 0 auto;
	padding-top: 20%;
}

#welcome-logo-img {
	display: block;
	width: 300px;
}

#welcome-text-div {
	width: 500px;
	margin: 0 auto;

	font-family: $primary;
	font-size: 12px;
	text-align: center;
	margin-bottom: 30px;
}

#begin-div {
	margin: 0 auto;
	width: 100px;
	padding: 0px 10px 0px 10px;
	border-radius: 25px;
	background-color: $mainfont;

	font-family: $primary;
	font-size: 12px;
	color: $welcomebackground;
	text-align: center;

	cursor: pointer;

}

#logo {
	max-width: 150px;
	display: block;

	margin: 0 auto;
	padding: 30px 0px 20px 0px;
}

#building-data {
	/*float: left;*/
	/*margin: 0 auto;*/
	/*margin-top: 10px;*/
	/*padding-top: 20px;*/
	/*width: 85%;*/
	/*border: 1px solid black;*/
	/*background-color: #e6e6e6;*/
}

#menu {
	float: left;
	/*padding-left: 10px;*/

	/*height: 680px;*/
	height: 99vh;
	/*min-height: 100%;*/

	background-color: $menubackground;

	h2 {
		text-align: center;
		font-size: 16px;
		margin: 10px 0px 10px 0;

		font-family: $primary;
	} 
}

#city-options {
	margin: 10 0 10 0;
}

#monster-options {
	margin: 10 0 10 0;
}

.city-display {
	/*float: left;*/
	/*margin: 5px 5px 5px 2px;*/
	padding: 5px 5px 5px 10px;
	cursor: pointer;
	font-size: 24px;

	p {
		padding-left: 1px;
	}

	&:hover {
		background-color: $focus;
	}
}

.monster-display {
	padding: 2px 5px 2px 10px;
	cursor: pointer;
	p {
		font-family: $monstersfont;
		color: black;
	}

	&:hover {
		background-color: $focus;
	}
}

.newyorkcity {
	fill: $newyork;
	font-family: $newyorkfont;
	cursor: pointer;

	&:hover {
		fill: $focus;
	}	
}

.seattle {
	fill: $seattle;
	font-family: $seattlefont;
	cursor: pointer;
	
	&:hover {
		fill: $focus;
		/*z-index: top;*/
	}	
}

.chicago {
	fill: $chicago;
	font-family: $chicagofont;
	cursor: pointer;
		&:hover {
		fill: $focus;
	}
}

.sanfrancisco {
	fill: $sf;
	font-family: $sffont;
	cursor: pointer;
		&:hover {
			fill: $focus;
		}
}


.losangeles {
	fill: $la;
	font-family: $seattlefont;
	cursor: pointer;
		&:hover {
			fill: $focus;
		}
}

.philadelphia {
	fill: $philly;
	font-family: $chicagofont;
	cursor: pointer;
		&:hover {
			fill: $focus;
		}
}


#newyorkcity {
	color: $newyork;
	font-family: $newyorkfont;
	font-size: 30px;
}

#seattle {
	color: $seattle;
	font-family: $seattlefont;
}

#chicago {
	color: $chicago;
	font-family: $chicagofont;	
}

#sanfrancisco {
	color: $sf;
	font-family: $sffont;
}

#losangeles {
	color: $la;
	font-family: $seattlefont;
}

#philadelphia {
	color: $philly;
	font-family: $chicagofont;	
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.label {
	fill: $mainfont;
	font-family: sans-serif;
    font-size: 12px;
}

.hide {
	display: none;
}
