/*font-family: 'Squada One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Playball', cursive;*/

/*Colors*/
$background: #5c5a5a;
$seattle: #94d31b;
$newyork: #200505;
$chicago: #FFE9D2;
$focus: #FFFFFF;

/*fonts*/
$seattlefont: 'Audiowide';  
$newyorkfont: 'Squada One'; 
$chicagofont: 'Playball';

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
	background: $background;
}

.clear {
	clear: both;
	float: none;
}

#building-data {
	float: left;
	margin: 0 auto;
	/*margin-top: 10px;*/
	/*padding-top: 20px;*/
	width: 85%;
	/*border: 1px solid black;*/
	/*background-color: #e6e6e6;*/
}

#city-options {
	float: left;
}

.city-display {
	/*float: left;*/
	margin: 0px 5px 0px 0px;
	cursor: pointer;

	/*font-weight: bold;*/
	font-size: 20px;
}

.newyorkcity {
	fill: $newyork;
	font-family: $newyorkfont;
	cursor: pointer;

	&:hover {
	fill: $focus;
	}	
}

.seattle {
	fill: $seattle;
	font-family: $seattlefont;
	cursor: pointer;
	
	&:hover {
		fill: $focus;
	}	
}

.chicago {
	fill: $chicago;
	font-family: $chicagofont;
	cursor: pointer;
		&:hover {
		fill: $focus;
	}
}

#newyorkcity {
	color: $newyork;
	font-family: $newyorkfont;
	font-size: 30px;
}

#seattle {
	color: $seattle;
	font-family: $seattlefont;
}

#chicago {
	color: $chicago;
	font-family: $chicagofont;	
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.hide {
	display: none;
}
